h1 {
  display       : inline-block;
  font-size     : 40px;
  line-height   : 48px;
  font-family   : sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-weight   : 700;
  font-family   : 'Barlow Condensed', sans-serif;
}
